@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200&display=swap');

* {
    font-family: 'Nunito Sans', sans-serif;
}

body {
    background: var(--Primary, #FEC7D7);
}

::-webkit-scrollbar {
    display: none;
}
/*-------------*/

.content_msg_1 {
    display: flex;
    margin-top: 5%;
    margin-left: 15%;
}

.msg_1 {
    font-weight: 800;
    font-size: 24px;
    color: var(--Black, #0E172C);
}

/*-------------*/

.content_msg_2 {
    display: flex;
    margin-top: 1%;
    margin-left: 5%;
}

.msg_2 {
    font-weight: bold;
    font-size: 20px;
    color: var(--Black, #0E172C);
}


/*-------------*/
.content_perros,
.content_gatos {
    
    cursor: pointer !important;
    border-radius: 8px;
    background: var(--Black, #0E172C);

    display: flex;
    width: 200px;
    padding: 15px;
    align-items: center;
    margin: 50px;
}

.content_cuadros {
    
    display: flex;
    justify-content: center;
    align-items: center;

}

/*---------------*/
.logo_gato {
    padding-left: 1%;
    position: absolute;
}

/*------------------*/
.nombre_g_p {
    font-weight: bold;
    color: white;
    padding-left: 10%;
}
/*--------------Footer-------------------*/

footer {
    margin-top: 10px;
    background-color: white;
    padding: 20px;
    text-align: center;
  }

  .logo {
    cursor: pointer;
    object-fit: cover;
    width: 25px; 
    height: 25px; 
    margin: 0 60px; 
  }
/*----------------------------Cuadros de las imagenes--------------*/
/*------------------------------Centrado de las Imaganes (Modo Escriotorio)-----------*/
.content_cuadros_img {
   display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding-left: 3%;
    transform: translateY(100%);
    animation: deslizarArriba 1s ease-in-out forwards;
}



@keyframes deslizarArriba {
    to {
      transform: translateY(0);
    }
  }

  /* 
En CSS, la regla @keyframes se utiliza para definir animaciones. Dentro de @keyframes, la palabra clave "to" representa el estado final de la animación. En otras palabras, to establece los estilos que se aplicarán al elemento cuando la animación llegue a su estado final.*/


.cuadros_class {
    border-right: 40px solid transparent;
    cursor: pointer;
}

/* Responsive */
    /* Celulares */
  @media screen  and (max-width: 390px){
    body {
        margin: 0;
        padding: 0;
        background: var(--Primary, #FEC7D7);
      }
  
   
  /* Seleccion Gato - Perrp */
      .content_perros,
      .content_gatos {
        background-color: #0E172C;
        margin: 2px;
        width: 300px;
        text-align: center;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }
  

      /* Imagenes */

     
      /* Otros */
      .logo_gato {
        margin-left: 5px;
        width: 50px;
        height: 50px;
      }
  
      .nombre_g_p {
        font-weight: bold;
        margin-top: 10px;
      }
 

      /* Imaganes */
    
      .content_cuadros_img {
        margin: 10px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(40%, 1fr))!important;
        gap: 5px;
        align-content: start;
        margin: 0 auto;
        margin-top: 5px;
        width: 100%;
        }

        @media screen and (max-width: 390px) {
          footer {
              flex-direction: column;
              align-items: center;
          }
      
          .logo {
             margin: 20px;
              
          }
      }
    
    
    }

   
    .cuadros_class {
        max-width: 100%; 
    }
    
  
  
   