@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200&display=swap');

* {
    font-family: 'Nunito Sans', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    background: var(--Primary, #FEC7D7);
  }
  
  /*
  .content_general_img {
    background-color: white;
    width: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */


  
  .content_img {
    text-align: center;
  }
  
  .img_class {
    width: 100%;
    max-height: 600px;
    object-fit: cover;
  }
  
  .parrafo {
    margin-top: 10px;
  }

.content_2 {
    background-color: aqua;
}
/*Raza */

p {
    color: var(--Grey, #535353);
/* Body 2/Regular */
font-family: Nunito;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.07px;
}