@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200&display=swap');

* {
  font-family: 'Nunito Sans', sans-serif;
}

body {
  margin: 0;

}

.content_img_class {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 300px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 20px;
}

.img_class {
  object-fit: cover;
  height: 350px;
  width: 100%;
}

/* Nombre */
.nombre_mascota {
  color: var(--Black, #0E172C);
  background-image: url('https://res.cloudinary.com/dbwgsrqgm/image/upload/v1702604481/Adopcion/gatos/male_auckgw.png');
  background-repeat: no-repeat;
  background-position: 150px 60%;

}

.content_name_mascota {
  font-weight: 900;
  margin-top: 40px;
  margin-left: 20px;
}

/*Raza */
.content_raza_mascota {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20%;
}

.raza_mascota {
  margin: 0;
  background-image: url('https://res.cloudinary.com/dbwgsrqgm/image/upload/v1702604461/Adopcion/gatos/edad_xpe5us.png');
  background-repeat: no-repeat;
  width: 100%;
  max-width: 800px;
}

/* Ubicacion */
.ubicacion {
  background-image: url('https://res.cloudinary.com/dbwgsrqgm/image/upload/v1703890370/Adopcion/perros/Component_1_ewzj9h.jpg');
  background-repeat: no-repeat;
  max-width: 300px;
  padding-left: 30px;
}

.content_ubi {
  margin-left: 20px;
}

/* Contenedores Personalidad */
.contenedor_personalidad {
  padding-left: 5px;
  width: 100px;
  height: 100px;
  margin: 10px;
  display: inline-block;
  border-radius: 8px;
  border: 2px solid var(--secondary, #A786DF);
  background: var(--White, #FFFFFE);
}

/* Agregar a Fav*/
.content_btn_fav {
  margin: 0;
  padding: 0;
  text-align: right;
  padding: 10px;
}

.btn_fav {
  background-size: contain;
  background-image: url('https://res.cloudinary.com/dbwgsrqgm/image/upload/v1702604478/Adopcion/gatos/Guardar1_erlakv.png');
  filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.25));
  padding: 10px 20px;
  background-color: rgb(122, 72, 72);
  color: #fff;
  border: none;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
}

@media (max-width: 390px) {
  body {
    margin: 0;
  }

  .content_img_class {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 300px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 20px;
  }

  .img_class {
    object-fit: cover;
    height: 350px;
    width: 100%;
  }

  /* Nombre */
  .nombre_mascota {
    color: var(--Black, #0E172C);
    background-image: url('https://res.cloudinary.com/dbwgsrqgm/image/upload/v1702604481/Adopcion/gatos/male_auckgw.png');
    background-repeat: no-repeat;
    background-position: 150px 60%;

  }

  .content_name_mascota {
    font-weight: 900;
    margin-top: 40px;
    margin-left: 20px;
  }

  /*Raza */
  .content_raza_mascota {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20%;
  }

  .raza_mascota {
    margin: 0;
    background-image: url('https://res.cloudinary.com/dbwgsrqgm/image/upload/v1702604461/Adopcion/gatos/edad_xpe5us.png');
    background-repeat: no-repeat;
    width: 100%;
    max-width: 800px;
  }

  /* Ubicacion */
  .ubicacion {
    background-image: url('https://res.cloudinary.com/dbwgsrqgm/image/upload/v1703890370/Adopcion/perros/Component_1_ewzj9h.jpg');
    background-repeat: no-repeat;
    max-width: 300px;
    padding-left: 30px;
  }

  .content_ubi {
    margin-left: 20px;
  }

  /* Contenedores Personalidad */
  .contenedor_personalidad {
    padding-left: 5px;
    width: 100px;
    height: 100px;
    margin: 10px;
    display: inline-block;
    border-radius: 8px;
    border: 2px solid var(--secondary, #A786DF);
    background: var(--White, #FFFFFE);
  }

  .imagen_personalidad {
    display: flex;
    padding: 10px 12px;
    width: 70px;
  }

  /* Agregar a Fav*/
  .content_btn_fav {
    margin: 0;
    padding: 0;
    text-align: right;
    /* Alinea el contenido a la derecha */
    padding: 10px;
  }

  .btn_fav {
    background-size: contain;
    background-image: url('https://res.cloudinary.com/dbwgsrqgm/image/upload/v1702604478/Adopcion/gatos/Guardar1_erlakv.png');
    filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.25));
    padding: 10px 20px;
    background-color: rgb(122, 72, 72);
    color: #fff;
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
  }

  /* Personalidades */
  .persona_title {
    color: var(--Black, #0E172C);
    font-size: 20px;
    font-weight: 700;
  }


  .personalidades_title {
    color: red;
    padding-left: 20px;
  }

  /* Historia Nombe */
  .nombre_history {
    padding-left: 20px;
    color: var(--Black, #0E172C);
    font-size: 18px;
    font-weight: bold !important;
  }

  .descrip_mascota {
    margin: 20px;
    max-width: 750px;
  }

  /* Boton de Contactar */
  .contenedor {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    display: flex;
    align-items: center;
  }

  .parrafos_contacto {
    padding-left: 10px;
    max-width: 20px;
  }

  .btn_contactar_div {
    padding-left: 15%;
  }

  .btn_contactar {
    display: flex;
    width: 150px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    border-radius: 98px;
    background: var(--Black, #0E172C);
    font-size: 15px;
    font-weight: 600;
  }

}