body , html{
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;

    justify-content: center;
    background: var(--Primary, #FEC7D7);
}

* {
    font-family: 'Nunito Sans', sans-serif;
}

/* Imagen */
.content_general_img {
    background-color: white;
}

.img_class {
    width: 375px;
    height: 442px;
}

/* Nombre del Animal */
h2 {
   color: #0E172C;
   background-image: url('https://res.cloudinary.com/dbwgsrqgm/image/upload/v1702604481/Adopcion/gatos/male_auckgw.png');

   background-repeat: no-repeat;
   background-position-x: 30%;
}

/* Btn de volver */ 
button {
    cursor: pointer;
    display: block;
    background-repeat: no-repeat;
    background-image: url('https://res.cloudinary.com/dbwgsrqgm/image/upload/v1702604453/Adopcion/gatos/Component_1_d1hczx.png');
    margin-top: 20px;
    border-radius:10px ;
    position: relative;
    width: 200%;
    height: 8%;
    background-color: #0E172C;
    color: white;
    border: 1px solid #0E172C;
}


/*Raza */

p {
    color: var(--Grey, #535353);
/* Body 2/Regular */
font-family: Nunito;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.07px;
}