@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200&display=swap');

* {
    font-family: 'Nunito Sans', sans-serif;
   
}

body {
    background: var(--Primary, #FEC7D7);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content_fav {
    width: 300px;
height: 400px;
margin: 20px;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
overflow: hidden;
}

.content_fav,  .img_class {
    width: 100%;
    height: 60%;
    object-fit: cover;
  }


@media (max-width: 390%) {

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .content_fav {
        width: 300px;
  height: 400px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
    }

    .content_fav,  .img_class {
        width: 100%;
        height: 60%;
        object-fit: cover;
      }

}
