@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200&display=swap');

* {
  font-family: 'Nunito Sans', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background: var(--Primary, #FEC7D7);
}

/*--------------Footer-------------------*/
footer {
  margin-top: 10px;
  background-color: white;
  padding: 20px;
  text-align: center;
}

.logo {
  cursor: pointer;
  object-fit: cover;
  width: 25px;
  height: 25px;
  margin: 0 60px;
}

/*------Mensaje-------- */
.content_mensaje {
  border-radius: 8px;
  background: var(--White, #FFFFFE);
  display: flex;
  width: 327px;
  padding: 8px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.msg {
  display: flex;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
}

img {
  width: 10px;
}