@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200&display=swap');

* {
  font-family: 'Nunito Sans', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

body {
  
  justify-content: center;
  display: flex;
  align-items: center;
  background: var(--Primary, #FEC7D7);
}

/*--------------Footer-------------------*/
footer {
  background-color: white;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.logo {
  cursor: pointer;
  object-fit: cover;
  width: 25px;
  height: 25px;
  margin: 0 15px; /* Ajuste para reducir el espacio entre los logos */
}

/*------Mensaje-------- */
button {
  cursor: pointer;
  padding: 10px;
  width: 10px;
  height: 20px  ;
}

h1 {
  font-size: 30px;
}

section {
  padding-bottom: 200px;
}

.message {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.content {
  padding-top: 100px;
}

img {
  border-radius: 50%;
  padding-left: 50px;
}

.text-content {
   padding-left:10px; 
}

.name {
  padding-left: 80px;
   font-weight:bold; 
}

.time {
   font-size: small; 
   color:#888; 
   padding-left: 400px;
}


@media (max-width: 768px) {
  .message {
    flex-direction: column;
    align-items: flex-start;
  }

  img {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
