body , html{
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;

    justify-content: center;
    background: var(--Primary, #FEC7D7);
}

* {
    font-family: 'Nunito Sans', sans-serif;
}

.content_img {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

img {
    max-width: 100%;
    height: auto;
}